Imbalanced Dataset Handling

1.Upsampling.  
2.Down Sampling

In [22]:
import numpy as np
import pandas as pd

In [23]:
#Set the random seed for reproductibility
np.random.seed(123)

#create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [24]:
n_class_0,n_class_1

(900, 100)

In [27]:
class_0 = pd.DataFrame({
      'feature_1': np.random.normal(loc = 0 , scale = 1, size = n_class_0),
      'feature_2': np.random.normal(loc = 0 , scale = 1, size = n_class_0),
       'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
      'feature_1': np.random.normal(loc = 2 , scale = 1, size = n_class_1),
      'feature_2': np.random.normal(loc = 2 , scale = 1, size = n_class_1),
       'target' : [1] * n_class_1
})

In [31]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [33]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [34]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [40]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [41]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [42]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [43]:
## upsampling perform
from sklearn.utils import resample

In [46]:
df_minority_upsample = resample(df_minority, replace=True, # sample with replacement
                     n_samples = len(df_majority) ,# to match the majority classes
                     random_state = 42
                    )

In [47]:
df_minority_upsample.shape

(900, 3)

In [48]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [65]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [66]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [67]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

DOWN SAMPLING

In [111]:
class_0 = pd.DataFrame({
      'feature_1': np.random.normal(loc = 0 , scale = 1, size = n_class_0),
      'feature_2': np.random.normal(loc = 0 , scale = 1, size = n_class_0),
       'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
      'feature_1': np.random.normal(loc = 2 , scale = 1, size = n_class_1),
      'feature_2': np.random.normal(loc = 2 , scale = 1, size = n_class_1),
       'target' : [1] * n_class_1
})

In [112]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [113]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [126]:
df_majority_downsample = resample(df_majority, replace=False, # sample without replacement
                     n_samples = len(df_minority) ,# to match the minoority classes
                     random_state = 42
                    )

In [127]:
df_majority_downsample.shape

(100, 3)

In [128]:
df_downsample = pd.concat([df_minority,df_majority_downsample])

In [140]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64