Nominal/OHE Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({
   'color':['red','blue','green','green','red','blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
## Create an instance of one hot encoder
encoder = OneHotEncoder()

In [7]:
## fit the encoder to the dataframe and transform the categorical variable
encoded=encoder.fit_transform(df[['color']])

In [9]:
import pandas as pd
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [10]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [11]:
pd.concat([df,encoded_df],axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [13]:
df = pd.DataFrame({
  'Location':['Delhi','Banglore','Noida','Delhi','Banglore']})

In [14]:
df

   Location
0     Delhi
1  Banglore
2     Noida
3     Delhi
4  Banglore

In [19]:
encoder = OneHotEncoder()

In [20]:
encoded = encoder.fit_transform(df[['Location']])

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [23]:
pd.DataFrame(encoded.toarray(),columns)

     0    1    2
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  0.0  1.0
5  1.0  0.0  0.0