Label And Ordinal Encoding

In [12]:
import pandas as pd

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
df = pd.DataFrame({
   'color': ['red','blue','green','green','red','blue']
})

In [15]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [16]:
## create an instance of labelencoder
encoder = LabelEncoder()

In [17]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [18]:
## Ordinal Encoding
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

#Create  a sample dataframe with an ordinal variable
df = pd.DataFrame({
   'size': ['small','medium','large','medium','small','large']})

In [19]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [20]:
## craete an instance of the Ordinal Encoder class and fit_transform
encoder = OrdinalEncoder(categories = [['small','medium','large']])

In [21]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])